/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Navigation Bar */
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 97.5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-logo .logo {
  width: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Sections */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
  text-align: center;
}

/* Home Section */
#home {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Tic-tac-toe.jpeg') center/cover;
  color: white;
  flex-direction: column;
}

#home h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

#home p {
  font-size: 1.5rem;
  max-width: 700px;
}

#home button {
  background-color: #C5D1EC;
  color: #323335;
  border: none;
  padding: 12px 25px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
}

#home button:hover {
  background-color: #ff6600;
  color: white;
}

/* About Us */
#about-us {
  background-color: #f8f8f8;
  display: flex;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
}

.about-text {
  flex: 1;
  text-align: left;
}

.about-text h2 {
  font-size: 2.5rem;
  color: #333;
}

.about-text p {
  font-size: 1.2rem;
  color: #555;
}

.about-image {
  flex: 1;
  background: url('Tic-Tac-Toe.png') center/cover;
  height: 100vh;
  border-radius: 10px;
  width: 100%;
}

/* Contact */
#contact {
  background-color: #f8f8f8;
  color: #333;
  flex-direction: column;
}

#contact h2 {
  font-size: 2.5rem;
}

#contact p, #contact ul {
  font-size: 1.5rem;
  color: #555;
  list-style: none; 
}

#contact ul li {
  font-size: 1.5rem; 
  color: #0078D4; 
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }

  #home h1 {
    font-size: 2rem;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }
}
